* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* prima sezione */

#first-section {
    height: 100vh;
    width: 100%;
    background-color: red;
    position: relative;
}

.prima img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.prima h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    color: yellow;
}

.navigazione {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 99;
}

.navigazione a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50%;
}

/* .pulsanti {
    right: 30px;
    top: 30px;
    position: fixed;
    z-index: 99;
}

.bottone {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border: 0;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
} */

/* seconda sezione */

#second-section {
    height: 100vh;
    width: 100%;
    background-color: green;
    position: relative;
}

.seconda img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.seconda h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    color: yellow;
}

/* terza sezione */

#third-section {
    height: 100vh;
    width: 100%;
    background-color: yellow;
    position: relative;
}

.terza img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.terza h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    color: green;
}


